My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -80,
        48
      ],
      "id": "08ab526d-d351-442b-875e-2d1d71979966",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "=deepseek-chat",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        -80,
        272
      ],
      "id": "3d945173-d2f9-498c-a88e-eaea926bc5f3",
      "name": "DeepSeek Chat Model",
      "credentials": {
        "deepSeekApi": {
          "id": "yW1ftFmOhSHyg4wM",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -304,
        48
      ],
      "id": "da4189cd-21d4-4d82-a54e-95a5db6b368c",
      "name": "Telegram Trigger",
      "webhookId": "d5aad9c2-a2f3-4ef2-b037-654232ee2588",
      "credentials": {
        "telegramApi": {
          "id": "qsiVTnYBOYfJdlVc",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "disable_notification": true,
          "disable_web_page_preview": true,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        272,
        48
      ],
      "id": "75c571d8-ba69-45ad-bb82-e11ac895363d",
      "name": "Send a text message",
      "webhookId": "7c61e33c-b2d5-4a78-953a-20cc5f250320",
      "credentials": {
        "telegramApi": {
          "id": "qsiVTnYBOYfJdlVc",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        160,
        304
      ],
      "id": "520f3dd9-804d-4263-a0f1-79a0c9589471",
      "name": "Simple Memory"
    }
  ],
  "pinData": {
    "Telegram Trigger": [
      {
        "json": {
          "update_id": 254935471,
          "message": {
            "message_id": 46,
            "from": {
              "id": 972811734,
              "is_bot": false,
              "first_name": "Vladimir",
              "last_name": "Strelnikov",
              "username": "xstrell",
              "language_code": "ru"
            },
            "chat": {
              "id": 972811734,
              "first_name": "Vladimir",
              "last_name": "Strelnikov",
              "username": "xstrell",
              "type": "private"
            },
            "date": 1769367283,
            "text": "dsfsdf"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "AI Agent": [
      {
        "json": {
          "output": "Привет кусок мяса, что-то ты много себе позволяшь"
        }
      }
    ]
  },
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "479f0c4e-5f29-4a0e-9b3a-c0388576ad5c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "813f18a51a0cee45d5d1abde38e4bb650888fa33c05cf8beceb12b8657060fce"
  },
  "id": "F8ElU4JdYEPkUHBaZV6HB",
  "tags": []
}